<%- include('partials/_head.ejs') %>
    <%- include('partials/leftsidebar.ejs') %>
        <%- include('partials/_header.ejs') %>
            <div class="ec-content-wrapper">
                <div class="content">
                    <div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
                        <h1>Main Category</h1>
                        <p class="breadcrumbs"><span><a href="index.html">Home</a></span>
                            <span><i class="mdi mdi-chevron-right"></i></span>Main Category
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-12">
                            <div class="ec-cat-list card card-default mb-24px">
                                <div class="card-body">
                                    <div class="ec-cat-form">
                                        <h4>Add New Category</h4>

                                        <form action="/admin/add-category" method="post" enctype="multipart/form-data">
                                            <div class="row ec-vendor-uploads">
                                                <div class="col-lg-9">
                                                    <div class="ec-vendor-img-upload">
                                                        <div class="ec-vendor-main-img justify-content-center">
                                                            <div class="avatar-upload">
                                                                <div class="avatar-edit">
                                                                    <input type="file" id="imageUpload"
                                                                        class="ec-image-upload"
                                                                        accept=".png, .jpg, .jpeg" name="image"
                                                                        required />
                                                                    <label for="imageUpload"><img
                                                                            src="/assets/img/icons/edit.svg"
                                                                            class="svg_img header_svg"
                                                                            alt="edit" /></label>
                                                                </div>
                                                                <div class="avatar-preview ec-preview">
                                                                    <div class="imagePreview ec-div-preview">
                                                                        <img class="ec-image-preview"
                                                                            src="/assets/img/products/vender-upload-preview.jpg"
                                                                            alt="edit" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="text" class="col-12 col-form-label">Name</label>
                                                <div class="col-12">
                                                    <input id="text" name="title" class="form-control here slug-title"
                                                        type="text" onkeyup="this.value = this.value.toUpperCase();">
                                                </div>
                                            </div>

                                            <!-- <div class="form-group row">
                                    <label for="slug" class="col-12 col-form-label">Slug</label> 
                                    <div class="col-12">
                                        <input id="slug" name="slug" class="form-control here set-slug" type="text">
                                        <small>The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Sort Description</label> 
                                    <div class="col-12">
                                        <textarea id="sortdescription" name="sortdescription" cols="40" rows="2" class="form-control"></textarea>
                                    </div>
                                </div>  -->

                                            <div class="form-group row">
                                                <label class="col-12 col-form-label">Description</label>
                                                <div class="col-12">
                                                    <textarea id="fulldescription" name="description" cols="40" rows="4"
                                                        class="form-control"></textarea>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="col-12">
                                                    <button name="submit" type="submit"
                                                        class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
         
            <%- include('partials/foot.ejs') %>